{% extends "base/base.html" %}
{% block content %}
<!--begin::App Main-->
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Manuel Giriş Ekle</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="{% url "home" %}">Anasayfa</a></li>
              <li class="breadcrumb-item active">Manuel Giriş Ekle</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-4">
      {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_user" class="form-label">Personel</label>
        {{ form.user }}
        {{ form.user.errors }}
      </div>


      <div class="mb-3">
        <label for="id_timestamp" class="form-label">Tarih / Saat</label>
        {{ form.timestamp }}
        {{ form.timestamp.errors }}
      </div>

      <div class="mb-3">
        <label for="id_action" class="form-label">İşlem Türü</label>
        {{ form.action }}
        {{ form.action.errors }}
      </div>

      <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
    </div>
</main>
<!--end::App Main-->
{% endblock %}
