{% extends "base/base.html" %}

{% block content %}
<!--begin::App Main-->
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">{{request.user.company.name}} Qr Kod</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="{% url "home" %}">Anasayfa</a></li>
              <li class="breadcrumb-item active" aria-current="page">Qr Kod</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <h3 class="mb-4">📷 QR   </h3> 
            <iframe id="qrFrame" src="{% url 'qr_code_image' company.id %}" width="250" height="250" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</main>
<!--end::App Main-->
{% endblock %}
